body {
    margin: 0;
    padding-top: 0;

    background-size: cover;
}


.main {
    z-index: 2;
    position: absolute;
    top: 0%;
    left: 35%;
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    color: white;
}

.box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
    font-family: 'Century Gothic', sans-serif;
}

.box img {
    border-radius: 50%;
    width: 250px;
    height: 230px;
}


@media (max-width: 768px) {
    .box img {
        border-radius: 50%;
        width: 250px;
        height: 230px;
    }

}

@media (max-width: 480px) {
    .box img {
        border-radius: 50%;
        width: 100px;
        height: 70px;
    }

}

.box h1 {
    font-size: 32px;
    letter-spacing: 4px;
    font-weight: 100;
    /*text-decoration: underline;*/
    font-family: 'Prosto One', cursive;

}

.box h5 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: 'Coming Soon', cursive;
}

.box p {
    text-align: center;
    font-family: 'Coming Soon', cursive;
    font-size: 18px;
    letter-spacing: 2px;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    text-decoration: none;
    font-size: 48px;
}

.box li a:hover {
    color: #b9b9b9;
}

.FB {
    color: rgb(59, 89, 152);
}


.Insta {
    color: rgba(228, 64, 95, 1);
}

.LinkedIn {
    color: #0077B5;
}



.contacts {
    /*width: 100%;*/
    /*height:100%;*/
    text-align: center;
    text-decoration: none;
}

.contacts_font {
    color: white;
    font-size: 17px;
    text-decoration: none;
}

.title {
    color: white;
    text-decoration: underline;
    font-family: 'Special Elite', cursive;
}

.bottompage {
    background-image: url("media/background10.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.header2 {
    color: white;
    text-decoration: underline;
    text-align: center;
    font-size: 50px;
    font-family: 'Special Elite', cursive;
}

@media (max-width: 767px) {
    .header2 {
        color: white;
        text-decoration: underline;
        text-align: center;
        font-size: 35px;
        font-family: 'Special Elite', cursive;
    }

}



.polaroid {
    width: 100%;
    padding: 20px 20px 12px 20px;
    background: #A9A9A9;
    box-shadow: inset 0 0 10px #000000;
}

@media (max-width: 767px) {
    .polaroid {
        width: 100%;
        padding: 10px 10px 0px 10px;
        background: #A9A9A9;
        box-shadow: inset 0 0 10px #000000;
    }
}


.portfolio-thumb {
    width: 100%;
    height: 100%;
  
}



.polaroid-writing {
    margin-top: 10px;
    color: black;
    text-align: center;
}

@media (max-width: 767px) {
    .polaroid-writing {
        margin-top: 3px;
        color: black;
        text-align: center;
    }

}

.portfolio-desc {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}



.socialmedia li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.socialmedia li a {
    text-decoration: none;
    font-size: 20px;
}

.footer {
    padding-bottom: 20px;
}



#videobg {
    z-index: -1;
    /*not work if the screen ratio is below 16/9*/
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

@media (min-aspect-ratio: 16/9) {
    #videobg {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videobg {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videobg {
        display: none;
    }

}

@media only screen and (max-width: 767px) {
    div.main {
        width: 100%;
        height: 100vh;
        left: 0%;

    }
}
