body {
    margin: 0;
    padding-top: 0;

    background-size: cover;
}

/*.videobg {*/

/*    position: relative;*/

/*}*/

.main {
    z-index: 2;
    position: absolute;
    top: 0%;
    left: 35%;
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
}

.box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
    /*width: 450px;*/
    /*background: rgba(0, 0, 0, 0.4);*/
    /*background: url(media/bg_video.mp4) no-repeat;*/
    /*padding: 10px;*/
    /*text-align: center;*/
    /*margin: auto;*/
    /*margin-top: 5%;*/
    /*color: white;*/
    font-family: 'Century Gothic', sans-serif;
}

.box img {
    border-radius: 50%;
    width: 250px;
    height: 230px;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
}

.box h5 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: 'Coming Soon', cursive;
}

.box p {
    text-align: center;
    font-family: 'Coming Soon', cursive;
    font-size: 18px;
    letter-spacing: 2px;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9;
}

.FB {
    color: rgb(59, 89, 152);
    transition: all ease-in-out 250ms;
}


.Twitter {
    color: #1DA1F2;
}

.Insta {
    color: rgba(228, 64, 95, 1);
}

.LinkedIn {
    color: #0077B5
}

.mail {
    margin-right: 10px;
    color: lemonchiffon;
    font-size: 20px;
}

.phone {
    margin-right: 10px;
    color: black;
    font-size: 20px;
}

.map {
    margin-right: 10px;
    color: red;
    font-size: 18px;
}

.contacts {
    color: white;
    font-size: 17px;
}

.title {
    color: white;
    text-decoration: underline;
}

.about {
    padding-left: 30px;
    padding-top: 30px;
    text-decoration: underline;
    text-align: center;
}

.aboutmedetails {
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
}

.technologies {
    color: white;
    text-decoration: underline;
    text-align: center;
}
