body {
    margin : 0;
    padding-top: 0;
    background: url(media/aboutme_photo.jpg) no-repeat;
    background-size: cover;
}

.videobg{
    position: absolute;
    size: 100vh;
}

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}
.box img{
    border-radius: 50%;
    width: 250px;
    height: 230px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover {
    color: #b9b9b9;
}
#FB{
    color:rgb(59, 89, 152);
}
#twitter{
    color: #1DA1F2;
}
#insta{
    color: rgba(228,64,95,1);
}
#linkedIn{
    color: #0077B5
}

#mail{
    margin-right: 10px;
    color: white;
    font-size: 18px;
}

#phone{
     margin-right: 10px;
    color: black;
    font-size: 18px;
}

#map{
     margin-right: 10px;
    color: red;
    font-size: 18px;
}

.contacts{
    color: white;
    font-size: 17px;
}

.title{
    color:grey;
}


